@model Card

<h3> @Model.Name </h3>
<h4> @Model.ManaCost </h4>
<h4> @Model.ConvertedMana </h4>
<h4> @Model.Type </h4>
<h4> @Model.CardText </h4>
<h4> @Model.FlavorText </h4>
<h4> @Model.Expansion </h4>
<h4> @Model.Rarity </h4>
<h4> @Model.CardNumber </h4>
<img src="@Model.Image" alt="Alternate Text" />